[Desktop Entry]
Name=maxson-build-utils
Exec=maxson-build-utils
Icon=io.github.city_of_memphis_wastewater.maxson-build-utils
Type=Application
Categories=Utility;
