Package: maxson-build-utils
Version: 0.1.46
Section: utils
Priority: optional
Architecture: all
Maintainer: George Clayton Bennett <george.bennett@memphistn.gov>
Description: Common tools for deploying packages to EXE, MSIX, DMG, DEB, PYZ, flatpak, and more. Templated approach to mkdocs.
